.DS_Store
node_modules/
demos/*/node_modules/
demos/*/npm-debug.log
demos/*/*/__snapshots__
*/node_modules/
npm-debug.log

server/dist
server/public/article
server/public/imgs
server/public/home.html

server/config/github.js