body, html, p, div {
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  background: #cceeaa;
}

.bottom div {
  line-height: 80px;
  width: 33.333%;
  text-align: center;
}

.content {
  width: 100vw;
  height: 100vh;
}

.color-1 {
  background: #ccc;
}

.color-2 {
  background: #eee;
}